In [1]:
import pandas as pd
import seaborn as sns

# List of the seaborn dataset
1. 'anagrams', 
2. 'anscombe', 
3. 'attention', 
4. 'brain_networks', 
5. 'car_crashes',  
6. 'diamonds', 
7. 'dots', 
8. 'exercise', 
9. 'flights', 
10. 'fmri', 
11. 'gammas', 
12. 'geyser', 
13. 'iris', 
14. 'mpg', 
15. 'penguins', 
16. 'planets', 
17. 'taxis', 
18. 'tips', 
19. 'titanic'

In [10]:
a=1729
print(a)
print(type(a))

a=str(a)
print(a)
print(type(a))

a=float(a)
print(a)
print(type(a))

1729
<class 'int'>
1729
<class 'str'>
1729.0
<class 'float'>

In [13]:
a="1729"
print(a)
print(type(a))

a=int(a)
print(a)
print(type(a))

a=float(a)
print(a)
print(type(a))

1729
<class 'str'>
1729
<class 'int'>
1729.0
<class 'float'>

In [14]:
a="1729"
print(a)
print(type(a))

a=list(a)
print(a)
print(type(a))

1729
<class 'str'>
['1', '7', '2', '9']
<class 'list'>

In [15]:
a=1729
print(a)
print(type(a))

a=list(a)
print(a)
print(type(a))

1729
<class 'int'>

TypeError: 'int' object is not iterable

In [21]:
l=['1', '7', '2', '9']
print(l)
for i in l:
    print(i)
print(type(l))
print("++++++++++++++++++++++++++")
l=str(l)
print(l)
print(type(l))
for i in l:
    print(i)

['1', '7', '2', '9']
1
7
2
9
<class 'list'>
++++++++++++++++++++++++++
['1', '7', '2', '9']
<class 'str'>
[
'
1
'
,

'
7
'
,

'
2
'
,

'
9
'
]

In [7]:
tips=sns.load_dataset("tips")

In [3]:
tips.shape

(244, 7)

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [40]:
tips["total_bill"].dtype

dtype('float64')

In [6]:
tips['total_bill'] = tips['total_bill'].astype(str)

In [7]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [9]:
tips['total_bill'] = tips['total_bill'].astype("float")

In [10]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [41]:
tips_10 = tips.head(10)

In [42]:
tips_10

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [43]:
tips_10.loc[[1,3,5,7], ['total_bill']]

   total_bill
1       10.34
3       23.68
5       25.29
7       26.88

In [13]:
tips_10.loc[[1,3,5,7], ['total_bill']] = 'missing'

C:\Users\Harish Sriramoju\anaconda3\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
tips_10

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6       8.77  2.00    Male     No  Sun  Dinner     2
7    missing  3.12    Male     No  Sun  Dinner     4
8      15.04  1.96    Male     No  Sun  Dinner     2
9      14.78  3.23    Male     No  Sun  Dinner     2

In [15]:
tips_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  10 non-null     object
 1   tip         10 non-null     float64
 2   sex         10 non-null     category
 3   smoker      10 non-null     category
 4   day         10 non-null     category
 5   time        10 non-null     category
 6   size        10 non-null     int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 984.0+ bytes

In [16]:
tips_10['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [17]:
# From pandas, to_numeric and it has ""errors"" as a parameter

# "raise" :  (default) will raise an error if it cannot convert to a numeric value
# "coerce" : will return NaN for values it cannot convert to numeric values
# "ignore" : simply ignore.. will return the vector without converting the column into numeric value.. doesnt do anything

In [18]:
tips_10

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6       8.77  2.00    Male     No  Sun  Dinner     2
7    missing  3.12    Male     No  Sun  Dinner     4
8      15.04  1.96    Male     No  Sun  Dinner     2
9      14.78  3.23    Male     No  Sun  Dinner     2

In [24]:
tips_10['total_bill'] =  pd.to_numeric(tips_10['total_bill'], errors = 'ignore', downcast = 'float')

<ipython-input-24-62224f32dc4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_10['total_bill'] =  pd.to_numeric(tips_10['total_bill'], errors = 'ignore', downcast = 'float')

In [25]:
tips_10

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1         NaN  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3         NaN  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5         NaN  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7         NaN  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [26]:
tips_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  6 non-null      float32
 1   tip         10 non-null     float64
 2   sex         10 non-null     category
 3   smoker      10 non-null     category
 4   day         10 non-null     category
 5   time        10 non-null     category
 6   size        10 non-null     int64
dtypes: category(4), float32(1), float64(1), int64(1)
memory usage: 944.0 bytes

In [27]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [28]:
tips['sex'] = tips['sex'].astype(str)

In [29]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 8.9+ KB

In [31]:
tips['sex'] = tips['sex'].astype('category')

In [32]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB